body{
    background-color: black;
    
}
.last{
    background-color: orange;
}
button{
    padding:10px;
    border-radius: 30px;
    border-style: solid;
    border-color: black;
    width:40px;
    background-color: rgb(19, 18, 18);
    color:white;
}
.clear{
    width:60px;
    padding:10px;
    
}